Package: chatty
Version: 0.28
Maintainer: Chatty Team <chattyclient@gmail.com>
Section: net
Homepage: https://chatty.github.io/
Architecture: amd64
Priority: optional
Depends: openjdk-8-jre (>=8u442-b05), openjdk-8-jre-headless (>=8u442-b05), openjdk-21-jre (>=21.0.6+7), openjdk-21-jre-headless (>=21.0.6+7)
Description: Chatty
 Chatty is a chat software specifically made for Twitch, in the spirit of a classic IRC Client. It runs on Windows and any other OS that supports Java 8 or later.
